{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}
<section class="section fp-auto-height intro">
    <header class="main-header {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
        <nav class="main-nav overlay clearfix">
            {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
        </nav>
        <div class="vertical">
            <div class="main-header-content inner">
                <h1 class="page-title">{{@blog.title}}</h1>
                <h2 class="page-description">{{@blog.description}}</h2>
            </div>
        </div>
        <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
    </header>
</section>
{{! The main content area on the homepage }}
<main id="content" class="content section" role="main">
    <input type="hidden" id='pages' value="{{pagination.pages}}">
    <input type="hidden" id='url' value="{{@blog.url}}">
    <input type="hidden" id='type' value="posts">
    <input type="hidden" id="length" value="{{posts.length}}">
    <section class="timeline flex">
        {{> "loop"}}
    </section>
    {{! The tag below includes the post loop - partials/loop.hbs }}

</main>
