{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! If we have a tag cover, display that - else blog cover - else nothing }}
<header class="main-header tag-head {{#if tag.image}}" style="background-image: url({{tag.image}}){{else}}{{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}{{/if}}">
    <nav class="main-nav overlay clearfix">
        {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
        {{#if @blog.navigation}}
        {{/if}}
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{tag.name}}</h1>
            <h2 class="page-description">
                {{#if tag.description}}
                    {{tag.description}}
                {{else}}
                    A {{pagination.total}}-post collection
                {{/if}}
            </h2>
        </div>
    </div>
</header>

{{! The main content area on the homepage }}
<main class="content section" role="main">
    <input type="hidden" id='pages' value="{{pagination.pages}}">
    <input type="hidden" id='url' value="{{@blog.url}}">
    <input type="hidden" id='type' value="tags">
    <input type="hidden" id='slug' value="{{tag.slug}}">
    <input type="hidden" id="length" value="{{posts.length}}">
    {{! The tag below includes the post loop - partials/loop.hbs }}
    <section class="timeline flex">
        {{> "loop"}}
    </section>

</main>
