body {
  overflow-x: hidden;
}
body * {
  box-sizing: border-box;
}
body a {
  text-decoration: none;
}
body a:hover {
  text-decoration: none;
}
.nav {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  font-family: 'Open Sans';
  font-weight: lighter;
  padding: 1em;
}
.nav .left {
  display: inline-block;
  padding: 0.2em;
}
.nav .right {
  display: inline-block;
  float: right;
}
.nav .menu {
  list-style: none;
  margin: 0;
  padding: 0;
  min-width: 30em;
  text-align: right;
}
.nav .menu .option {
  display: inline-block;
  text-decoration: none;
  margin: 0;
  padding: 0.5em 1em;
  cursor: pointer;
}
.nav .menu .option.current {
  font-weight: bold;
  transition: all 0.3s ease;
}
.nav .menu .option:hover {
  background-color: rgba(255,255,255,0.6);
  color: #fff;
  transition: all 0.3s ease;
}
.nav .menu .option:hover a {
  color: #333;
}
.nav .menu .option a {
  text-decoration: none;
  padding: 0.2em 0.5em;
}
.intro {
  max-height: 30em;
  padding-top: 0 !important;
}
.timeline {
  min-height: 25em;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 0 3em;
  height: 100%;
  width: auto;
  min-width: 100%;
}
.timeline .post-link {
  display: inline-block;
}
.timeline.flex {
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}
.timeline .post.loop {
  display: inline-block;
  width: auto;
  height: 45%;
  margin: 0;
  padding: 0 3em;
}
.timeline .post.loop.invisible {
  visibility: hidden;
}
.timeline .post.loop .outside-post {
  display: block;
  width: 100%;
  height: 100%;
  max-height: 100%;
}
.timeline .post.loop .outside-post .inside-post {
  padding: 1em 2.5em;
  background: #fff;
  height: 100%;
}
.timeline .post.loop .outside-post:hover {
  background-color: #666;
  transition: 0.3s ease;
}
.timeline .post.loop:nth-child(odd) .outside-post {
  padding-top: 2px;
  padding-left: 2px;
  padding-right: 2px;
}
.timeline .post.loop:nth-child(odd) .circle {
  bottom: -4px;
}
.timeline .post.loop:nth-child(odd):after {
  background: #666;
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -2px;
  left: 0;
}
.timeline .post.loop:nth-child(even) {
  border-bottom: none;
}
.timeline .post.loop:nth-child(even) .outside-post {
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
}
.timeline .post.loop:nth-child(even) .circle {
  top: -4px;
}
.timeline .post.loop:nth-child(even):before {
  background: #666;
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  top: -1px;
  left: 0;
}
.timeline .post.loop:first-of-type {
  padding-left: 0em;
}
.timeline .post.loop:nth-child(4n) {
  padding-left: 6em;
}
.timeline .post.loop:nth-child(3n) {
  padding-left: 4em;
}
.timeline .post.loop.alignment {
  width: 0;
}
.timeline .post.loop .circle {
  width: 7px;
  height: 7px;
  border: #666 1px solid;
  position: absolute;
  z-index: 1;
  margin-left: -5px;
  background: #fff;
  border-radius: 100%;
  box-shadow: #666 0 0 0 3px;
}
.timeline .post.loop .post-image {
  display: inline-block;
}
.timeline .post.loop .post-image img {
  max-height: 120px;
  width: auto;
  max-width: 600px;
}
.timeline .post.loop .post-header {
  display: inline-block;
}
.timeline .post.loop .post-excerpt {
  font-size: 0.9em;
  text-decoration: none;
}
