open = 'Open Sans'
body
	overflow-x hidden
	*
		box-sizing border-box
	a
		text-decoration none	
		&:hover
			text-decoration none	
.nav
	display block
	position fixed
	top 0
	left 0
	right 0
	z-index 99
	font-family open
	font-weight lighter
	padding 1em
	.left
		display inline-block
		padding .2em
	.right
		display inline-block	
		float right
	.menu
		list-style none
		margin 0
		padding 0
		min-width 30em
		text-align right
		.option
			display inline-block
			text-decoration none
			margin 0
			padding 0.5em 1em
			cursor pointer
			&.current
				font-weight bold
				transition all .3s ease
			&:hover
				background-color rgba(255,255,255,.6)
				color #fff
				transition all .3s ease
				a
					color #333
			a
				text-decoration none
				padding .2em .5em
.intro
	max-height 30em
	padding-top 0 !important
.timeline
	min-height 25em
	overflow-y hidden
	overflow-x scroll
	padding 0 3em
	height 100%
	width auto
	min-width 100%
	.post-link
		display inline-block
	&.flex
		display flex
		align-content flex-start
		flex-direction column
		flex-wrap wrap
	.post.loop
		display inline-block
		width auto
		height 45%
		margin 0
		padding 0 3em
		&.invisible
			visibility hidden
		.outside-post
			display block
			width 100%
			height 100%
			max-height 100%
			.inside-post
				padding 1em 2.5em
				background #fff
				height 100%
			&:hover
				background-color #666
				transition .3s ease
		&:nth-child(odd)
			.outside-post
				padding-top 2px
				padding-left 2px
				padding-right 2px
				// .inside-post
				// 	padding-bottom 3.5em
			.circle
				bottom -4px
			&:after 
				background #666
				display block
				content ""
				width 100%
				height 2px
				position absolute
				bottom -2px
				left 0
		&:nth-child(even)
			border-bottom none
			.outside-post
				padding-bottom 2px
				padding-left 2px
				padding-right 2px
				// .inside-post
				// 	padding-top 3.5em
			.circle
				top -4px
			&:before 
				background #666
				display block
				content ""
				width 100%
				height 2px
				position absolute
				top -1px
				left 0
		&:first-of-type
			padding-left 0em
		&:nth-child(4n)
			padding-left 6em
		&:nth-child(3n)
			padding-left 4em
		&.alignment
			width 0
		.circle
				width 7px
				height 7px
				border #666 1px solid
				position absolute
				z-index 1
				margin-left -5px
				background:#FFF
				border-radius 100%
				box-shadow #666 0 0 0 3px
		.post-image
			display inline-block
			img
				max-height 120px
				width auto
				max-width 600px
		.post-header
			display inline-block
		.post-excerpt
			font-size .9em
			text-decoration none
		// .post-excerpt
			// max-width 400px