{{! Previous/next page links - only displayed on page 2+ }}
{{!-- <div class="extra-pagination inner">
    {{pagination}}
</div> --}}

{{! This is the post loop - each post will be output using this markup }}
{{!-- <article class="post loop alignment"></article> --}}
{{#foreach posts}}
<article class="{{post_class}} loop">
    <a href="{{url}}">
        <div class="outside-post">
            <div class="circle"></div>
            <div class="inside-post">
                {{#if image}}
                     <div class="post-image">
                        <img src="{{image}}" alt="{{title}}">
                    </div>
                {{/if}}
                <header class="post-header">
                    <h2 class="post-title">{{!-- <a href="{{url}}"> --}}{{{title}}}{{!-- </a> --}}</h2>
                </header>
                <section class="post-excerpt">
                    <p>{{excerpt characters="100"}}...{{!--  <a class="read-more" href="{{url}}">...</a> --}}</p>
                </section>
                <footer class="post-meta">
                    {{tags limit='4' separator=' ' prefix='Tags: '}}
                    <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
                </footer>
            </div>     
        </div> 
    </a>    
</article>
{{/foreach}}

{{! Previous/next page links - displayed on every page }}
{{!-- {{pagination}} --}}
