<nav class="nav  desktop">
	<div class="left"><a href="/">Simon P. Turnbull</a></div>
	<div class="right">
		<ul class="menu">
			{{#foreach navigation}}
      	<li class=" option nav-{{slug}}{{#if current}} current{{/if}}" role="presentation"><a {{#unless current}}href="{{url absolute="true"}}"{{/unless}}>{{label}}</a></li>
      {{/foreach}}
		</ul>
	</div>
</nav>